/*contour du fond de drop box, gestion du radius du bas de la drop multiple*/
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #949494;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4x 5px rgba(0,0,0,.15);
  -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);
  z-index: 999;
  -webkit-border-radius : 5px;
  -moz-border-radius: 5px;
  border-radius : 5px;
}
/* @end */

/* @group Single Chosen */
/*Liste déroulante */
.chzn-container-single .chzn-single {
	/* Gestion du dégradé */
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #eeeeee), color-stop(0.6, #fcfcfc));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 20%, #fcfcfc 60%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 20%, #fcfcfc 60%);
  background-image: -o-linear-gradient(bottom, #eeeeee 20%,#fcfcfc 60%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%,#fcfcfc 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#eeeeee', startColorstr='#fcfcfc',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 20%,#fcfcfc 60%);
  /* Gestion du radius */
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #949494;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #434342;
  text-decoration: none;
  /* Gestion ombre port�e */
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.10);
  -moz-box-shadow   : 0 1x 4px rgba(0,0,0,.10);
  -o-box-shadow     : 0 1px 4px rgba(0,0,0,.10);
  box-shadow        : 0 1px 4px rgba(0,0,0,.10);
}
/* gestion fond fleche scroll down */
.chzn-container-single .chzn-single div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius   : 0 4px 4px 0;
  border-radius        : 0 4px 4px 0;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b0b0b0), color-stop(0.7, #dedede));
  background-image: -webkit-linear-gradient(center bottom, #b0b0b0 0%, #dedede 70%);
  background-image: -moz-linear-gradient(center bottom, #b0b0b0 0%, #dedede 70%);
  background-image: -o-linear-gradient(bottom, #b0b0b0 0%, #dedede 70%);
  background-image: -ms-linear-gradient(top, #b0b0b0 0%,#dedede 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#b0b0b0', startColorstr='#dedede',GradientType=0 );
  background-image: linear-gradient(top, #b0b0b0 0%,#dedede 70%);
  border-left: 1px solid #949494;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
/* Gestion flèche scroll down */
.chzn-container-single .chzn-single div b {
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
}
/*Gestion de la loupe et du dégradé input */
.chzn-container-single .chzn-search input {
  background: #fff url('/public/images/chosen/chosen-sprite.png') no-repeat 100% -20px;
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat 100% -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat 100% -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat 100% -20px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #949494;
  font-family: sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius   : 0 0 5px 5px;
  border-radius        : 0 0 5px 5px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}
/* @end */

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #eeeeee), color-stop(0.6, #fcfcfc));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 20%, #fcfcfc 60%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 20%, #fcfcfc 60%);
  background-image: -o-linear-gradient(bottom, #eeeeee 20%,#fcfcfc 60%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%,#fcfcfc 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#eeeeee', startColorstr='#fcfcfc',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 20%,#fcfcfc 60%);
  border: 1px solid #949494;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
  /* Gestion du radius */
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  /* Gestion ombre port�e */
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.10);
  -moz-box-shadow   : 0 1x 4px rgba(0,0,0,.10);
  -o-box-shadow     : 0 1px 4px rgba(0,0,0,.10);
  box-shadow        : 0 1px 4px rgba(0,0,0,.10);
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #434342;
  background: transparent !important;
  border: 0 !important;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -o-box-shadow     : none;
  box-shadow        : none;
}
/* Gestion de l'icone de choix multiple (le flag sur lequel sont écrit les options */
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #1099a3;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #1099a3), color-stop(0.6, #73cac1));
  background-image: -webkit-linear-gradient(center bottom, #1099a3 20%, #73cac1 60%);
  background-image: -moz-linear-gradient(center bottom, #1099a3 20%, #73cac1 60%);
  background-image: -o-linear-gradient(bottom, #1099a3 20%, #73cac1 60%);
  background-image: -ms-linear-gradient(top, #1099a3 20%,#73cac1 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#1099a3', startColorstr='#73cac1',GradientType=0 );
  background-image: linear-gradient(top, #1099a3 20%,#73cac1 60%);
  color: #fff;
  font-weight:bold;
  border: 1px solid #949494;
  line-height: 13px;
  padding: 3px 19px 3px 6px;
  margin: 3px 2px 3px 2px;
  position: relative;
}
/* couleur de focus lors de suppression*/
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #1099a3;
}
/* gestion de la croix de fermeture des options multi choix */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 5px;
  top: 6px;
  width: 8px;
  height: 9px;
  font-size: 1px;
  background: url('/public/images/chosen/chosen-sprite.png') right top no-repeat;
}
/* @end */

/* @group Results */
/* Gestion couleur s�lection dans la liste */
.chzn-container .chzn-results .highlighted {
  background: #1099a3;
  color: #fff;
}
/* Gestion couleur reconnaissance lettre tap� dans la recherche */
.chzn-container .chzn-results li em {
  background: #c0e7e3;
  font-style: normal;
}
.chzn-container-multi .chzn-drop {
	border-color:#89c8cd;
	padding: 4px 4px 4px 0;
	-webkit-box-shadow: 0 0 5px rgba(115,202,193,.3);
	-moz-box-shadow   : 0 0 5px rgba(115,201,193,.3);
	-o-box-shadow     : 0 0 5px rgba(115,202,193,.3);
	box-shadow        : 0 0 5px rgba(115,202,193,.3);
}
/* @end */

/* @group Active  */
/* Gestion état actif du choix du select standard.*/
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(115,202,193,.3);
  -moz-box-shadow   : 0 0 5px rgba(115,201,193,.3);
  -o-box-shadow     : 0 0 5px rgba(115,202,193,.3);
  box-shadow        : 0 0 5px rgba(115,202,193,.3);
  border: 1px solid #89c8cd;
}
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #949494;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
 /* Gestion du d�grad� */
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #eeeeee), color-stop(0.6, #fcfcfc));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 20%, #fcfcfc 60%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 20%, #fcfcfc 60%);
  background-image: -o-linear-gradient(top, #eeeeee 20%,#fcfcfc 60%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%,#fcfcfc 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#eeeeee', startColorstr='#fcfcfc',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 20%,#fcfcfc 60%);
 -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-choices {
  /* gestion actif choix multiple */
  -webkit-box-shadow: 0 0 5px rgba(115,202,193,.3);
  -moz-box-shadow   : 0 0 5px rgba(115,201,193,.3);
  -o-box-shadow     : 0 0 5px rgba(115,202,193,.3);
  box-shadow        : 0 0 5px rgba(115,202,193,.3);
  border: 1px solid #89c8cd;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #434342 !important;
}
/* @end */

/* @group Right to Left */
.chzn-rtl .chzn-single div {
  left: 0; right: auto;
  border-left: none; border-right: 1px solid #aaaaaa;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius   : 4px 0 0 4px;
  border-radius        : 4px 0 0 4px;
}
.chzn-rtl .chzn-search input {
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat -38px -20px, #ffffff;
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat -38px -20px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat -38px -20px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat -38px -20px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat -38px -20px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat -38px -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat -38px -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/public/images/chosen/chosen-sprite.png') no-repeat -38px -20px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  padding: 4px 5px 4px 20px;
}
/* @end */