/* *************** Main style *************** */
html, body, #container {
    height: 100%;
}

body {
    margin: auto;
    width: 1024px;
    background-color: #EEEEEE;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    font-size: 16px;
}

/* Container is needed for a sticky footer */
body > #container {
    height: auto;
    min-height: 100%;
    background-color: #FFFFFF;
}

#header {
    top: 0px;
    background-color: #000000;
}

#footer {
    clear: both;           /* Needed for a sticky footer */
    position: relative;    /* Needed for a sticky footer */
    z-index: 10;           /* Needed for a sticky footer */
    height: 20px;          /* Needed for a sticky footer */
    margin-top: -20px;     /* Needed for a sticky footer */
    width: 1024px;
    background-color: #000000;
    color: #FFFFFF;
}

.inlined-left-group {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.inlined-right-group {
    display: inline-block;
    vertical-align: top;
    right: 0px;
    float: right;
    padding: 0;
    margin: 0;
}

.inlined-block {
    display: inline-block;
    vertical-align: top;
}

#header, #header .inlined-leftGroup, #header .inlined-rightGroup, #header .inlined-block {
    height: 28px;           /* 25px + 3px (border-top thickness of selection-indicator) */
}

#header .inlined-block {
    color: #CCCCCC;
}

#header .menu-item-selected {
    font-weight: bold;
    color: #FFFFFF;
}

div.submenu-container {
    z-index: 20;
    display:none;
    position:absolute;
    border: 1px solid #cccccc;
}

ul.submenu {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    background-color: white;
}

ul.submenu li {
    font-size: 13px;
    cursor: pointer;
    color: black;
}

.menu-item-title {
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    display: block;
    cursor: pointer;
}

.selection-indicator {
    border-top: 3px solid;
    border-top-color: #DD4B39!important;
    display: block;
    bottom: 0px;
}

#mainContent {
    background-color: #FFFFFF;
    margin: 5px 5px;
    padding-bottom: 20px;          /* Needed for a sticky footer */
}

/* *************** Custom style for tabs *************** */
.tab-container{

}

.tab-menu {

}

.tab-item {
    padding: 0 5px;
    background-color: #F6B31E;
}

.tab-content {
    padding: 5px;
}

.tab-selected {
    background-color: #F86031;
}