/* *************** Main style *************** */
html, body, #container {
    height: 100%;
}

body {
    background-color:#f1f1f1;
    color:#434342;
    margin: auto;
    width: 1000px;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    font-size: 16px;
}

/* Container is needed for a sticky footer */
body > #container {
    height: auto;
    min-height: 100%;
    background-color: #FFFFFF;
}

select {
    width: 150px;
}

select[multiple]{
    width: 400px;
}

h3 {
    color: #eb8f00;
}

input[type=text] {
  padding: 0 4px 0 4px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #eeeeee), color-stop(0.6, #fcfcfc));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 20%, #fcfcfc 60%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 20%, #fcfcfc 60%);
  background-image: -o-linear-gradient(bottom, #eeeeee 20%,#fcfcfc 60%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%,#fcfcfc 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#eeeeee', startColorstr='#fcfcfc',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 20%,#fcfcfc 60%);
  border: 1px solid #949494;
  color : #434342;
  margin: 0;
  overflow: hidden;
  outline:none;
  height: 26px;
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.20) inset;
  -moz-box-shadow   : 0 1px 4px rgba(0,0,0,.2) inset;
  -o-box-shadow     : 0 1px 4px rgba(0,0,0,.2) inset;
  box-shadow        : 0 1px 4px rgba(0,0,0,.2) inset;
}

/* Useful to avoid display bugs in chosen search boxes */
.chzn-container input[type=text] {
  height: auto;
}

input[type=text] .ok {
	border: 1px solid #7cbe2e;
	-webkit-box-shadow: 0 1px 4px rgba(124,190,46,.30) inset;
	-moz-box-shadow   : 0 1px 4px rgba(124,190,46,.30) inset;
	-o-box-shadow     : 0 1px 4px rgba(124,190,46,.30) inset;
	box-shadow        : 0 1px 4px rgba(124,190,46,.30) inset;
}

input[type=text] .wrong {
	border: 1px solid #ff2d00;
	-webkit-box-shadow: 0 1px 4px rgba(255,45,0,.30) inset;
	-moz-box-shadow   : 0 1px 4px rgba(255,45,0,.30) inset;
	-o-box-shadow     : 0 1px 4px rgba(255,45,0,.30) inset;
	box-shadow        : 0 1px 4px rgba(255,45,0,.30) inset;
}

input[type=text]:focus,input[type=text]#ok:focus, input[type=text]#wrong:focus {
	border: 1px solid #89c8cd;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.8, #fcfcfc), color-stop(0.9, #eeeeee));
	background-image: -webkit-linear-gradient(center bottom, #fcfcfc 80%, #eeeeee 90%);
	background-image: -moz-linear-gradient(center bottom, #fcfcfc 80%, #eeeeee 90%);
	background-image: -o-linear-gradient(bottom, #fcfcfc 80%,#eeeeee 90%);
	background-image: -ms-linear-gradient(top, #fcfcfc 80%,#eeeeee 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#fcfcfc', startColorstr='#eeeeee',GradientType=0 );
	background-image: linear-gradient(top, #fcfcfc 80%,#eeeeee 90%);
	-webkit-box-shadow: 0 0 5px rgba(115,202,193,.3);
	-moz-box-shadow   : 0 0 5px rgba(115,201,193,.3);
	-o-box-shadow     : 0 0 5px rgba(115,202,193,.3);
	box-shadow        : 0 0 5px rgba(115,202,193,.3);
}

input[type=submit], button {
  background-image: -moz-linear-gradient(center bottom, #eeeeee 50%, #fcfcfc 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #eeeeee), color-stop(0.5, #fcfcfc));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 50%, #fcfcfc 50%);
  background-image: -o-linear-gradient(bottom, #eeeeee 50%,#fcfcfc 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 50%,#fcfcfc 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#eeeeee', startColorstr='#fcfcfc',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 50%,#fcfcfc 50%);
  border: 1px solid #fff;
  padding: 5px 12px 6px;
  color:#434342;
  font-weight:bold;
  outline:none;
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.30),0 0 1px rgba(0,0,0,0.35) inset;
  -moz-box-shadow   : 0 2px 3px rgba(0,0,0,0.30),0 0 1px rgba(0,0,0,0.35) inset;
  -o-box-shadow     : 0 2px 3px rgba(0,0,0,0.30),0 0 1px rgba(0,0,0,0.35) inset;
  box-shadow        : 0 2px 3px rgba(0,0,0,0.30),0 0 1px rgba(0,0,0,0.35) inset;
}

input[type=submit]:hover, button:hover {
  background-image: -moz-linear-gradient(center bottom, #9fd2d5 50%, #aae7eb 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #9fd2d5), color-stop(0.5, #aae7eb));
  background-image: -webkit-linear-gradient(center bottom, #9fd2d5 50%, #aae7eb 50%);
  background-image: -o-linear-gradient(bottom, #9fd2d5 50%,#aae7eb 50%);
  background-image: -ms-linear-gradient(top, #9fd2d5 50%,#aae7eb 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#9fd2d5', startColorstr='#aae7eb',GradientType=0 );
  background-image: linear-gradient(top, #9fd2d5 50%,#aae7eb 50%);
}

input[type=submit]:active, button:active {
	color:#fff;
	background-image: -moz-linear-gradient(center bottom, #3fa2a9 50%, #44bac2 50%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #3fa2a9), color-stop(0.5, #44bac2));
	background-image: -webkit-linear-gradient(center bottom, #3fa2a9 50%, #44bac2 50%);
	background-image: -o-linear-gradient(bottom, #3fa2a9 50%,#44bac2 50%);
	background-image: -ms-linear-gradient(top, #3fa2a9 50%,#44bac2 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#3fa2a9', startColorstr='#44bac2',GradientType=0 );
	background-image: linear-gradient(top, #3fa2a9 50%,#44bac2 50%);
	-webkit-box-shadow: 0 0 5px rgba(16,153,163,0.70), 0 2px 3px rgba(0,0,0,0.35) inset;
	-moz-box-shadow   : 0 0 5px rgba(16,153,163,0.70), 0 2px 3px rgba(0,0,0,0.35) inset;
	-o-box-shadow     : 0 0 5px rgba(16,153,163,0.70), 0 2px 3px rgba(0,0,0,0.35) inset;
	box-shadow        : 0 0 5px rgba(16,153,163,0.70), 0 2px 3px rgba(0,0,0,0.35) inset;
}

/* Pas utilisé pour le moment ... au cas où  */
button .selected {
  background-image: -moz-linear-gradient(center bottom, #0e848d 50%, #13adb8 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #0e848d), color-stop(0.5, #13adb8));
  background-image: -webkit-linear-gradient(center bottom, #0e848d 50%, #13adb8 50%);
  background-image: -o-linear-gradient(bottom, #0e848d 50%,#13adb8 50%);
  background-image: -ms-linear-gradient(top, #0e848d 50%,#13adb8 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#0e848d', startColorstr='#13adb8',GradientType=0 );
  background-image: linear-gradient(top, #0e848d 50%,#13adb8 50%);
  border: 1px solid #fff;
  padding: 5px 12px 6px;
  color:#fff;
  font-weight:bold;
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.30),0 0 1px rgba(0,0,0,0.35) inset;
  -moz-box-shadow   : 0 2px 3px rgba(0,0,0,0.30),0 0 1px rgba(0,0,0,0.35) inset;
  -o-box-shadow     : 0 2px 3px rgba(0,0,0,0.30),0 0 1px rgba(0,0,0,0.35) inset;
  box-shadow        : 0 2px 3px rgba(0,0,0,0.30),0 0 1px rgba(0,0,0,0.35) inset;

}

#header {
    top: 0px;
    background-color: #000000;
}

#footer {
    clear: both;           /* Needed for a sticky footer */
    position: relative;    /* Needed for a sticky footer */
    z-index: 10;           /* Needed for a sticky footer */
    height: 20px;          /* Needed for a sticky footer */
    margin-top: -20px;     /* Needed for a sticky footer */
    width: 1000px;
    background-color: #000000;
    color: #FFFFFF;
}

.inlined-left-group {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.inlined-right-group {
    display: inline-block;
    vertical-align: top;
    right: 0px;
    float: right;
    padding: 0;
    margin: 0;
}

.inlined-block {
    display: inline-block;
    vertical-align: top;
}

#header, #header .inlined-leftGroup, #header .inlined-rightGroup, #header .inlined-block {
    height: 28px;           /* 25px + 3px (border-top thickness of selection-indicator) */
}

#header .inlined-block {
    color: #CCCCCC;
}

#header .menu-item-selected {
    font-weight: bold;
    color: #FFFFFF;
}

div.submenu-container {
    z-index: 20;
    display:none;
    position:absolute;
    border: 1px solid #cccccc;
}

ul.submenu {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    background-color: white;
}

ul.submenu li {
    font-size: 13px;
    cursor: pointer;
    color: black;
}

.menu-item-title {
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    display: block;
    cursor: pointer;
}

.selection-indicator {
    border-top: 3px solid;
    border-top-color: #DD4B39!important;
    display: block;
    bottom: 0px;
}

#mainContent {
    background-color: #FFFFFF;
    margin: 5px 5px;
    padding-bottom: 20px;          /* Needed for a sticky footer */
}

/* *************** Custom style for tabs *************** */
.tab-container{

}

.tab-menu {

}

.tab-item {
    padding: 0 5px;
    background-color: #F6B31E;
}

.tab-content {
    padding: 5px;
}

.tab-selected {
    background-color: #F86031;
}

/* *************** Utils style *************** */
.inlined-li {
    display: inline;
}