#userInformations {
    display: inline-block;
    vertical-align: top;
    width: 750px;
}

#dashboard {
}

.dashboard-group {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-left: 6px;
    margin-top: 17px;
}

.dashboard-group-fullline {
    display: inline-block;
    vertical-align: top;
    width: 740px;
    margin-top: 17px;
    margin-left: 6px;
}

.dashboard-group-linestart {
    clear: both;
}

#generalInformations {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    right: 0px;
    float: right;
}

#generalInformations > div {
    width: 239px;
    margin-bottom: 10px;
    /*padding-left: 5px;*/
    /*border: 1px solid #ccc;*/
}

#plateformInformations {
}

#domainCloud {
    height: 240px;
}