
.criteria-line {
    width: 600px;
    clear: both;
    display: block;
}

.criteria-label {
    float: left;
}

.criteria-field {
    float: left;
    padding-left: 10px;
}

/* Purpose of this class is to nullify some chzn-choices attributes */
.selected-options {
    background-color: transparent !important;
    border: 0px !important;
    background-image: none !important;
}

select {
    width: 150px;
}

#ui-datepicker-div {
    z-index: 20 !important;
}