
.criteria-line {
    width: 600px;
    clear: both;
    display: block;
}

.criteria-label {
    float: left;
}

.criteria-field {
    float: left;
    padding-left: 10px;
}

.search-results-component {
    margin-top: 10px;
    clear:both;
}

.content-result {
    margin: 10px;
}

.content-result-title {
    width: 350px; float:left;
}

.content-result-author {
    width: 90px; float:left;
}

.content-result-creation-date {
    width: 130px; float:left;
}

.content-result-status {
    width: 150px; float:left;
}

.content-result-description {
    clear: both; width: 800px; font-style: italic;
}

/* Purpose of this class is to nullify some chzn-choices attributes */
.selected-options {
    background-color: transparent !important;
    border: 0px !important;
    background-image: none !important;
}

img.spinner {
    display: none;
}

#ui-datepicker-div {
    /* Overriding datepicker z-index to display it above select menu */
    z-index: 20 !important;
}
