.container {
    width: 1024px;
}

.view_common_header {
    background-color: #dfdfdf;
    width: 337px;
    height: 250px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    /*margin: 0 auto 5px;*/
    position: absolute;
}

.tab_view {
    background-color: #1099a3;
    width: 20px;
    height: 250px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    margin-right: 10px;
}

.view_title {
    width: 290px;
    height: 35px;
    font-size: 16px;
    color: #1099a3;
    font-weight: bold;
}

.view_content_title {
    float:left;
    padding-top: 3px;
    width: 250px;
    padding-left: 5px;
}

.left_part {
    width: 280px;
    float:left;
}

.view_author, .view_calendar {
    width: 230px;
    float: left;
}

.view_domain, .view_keyword {
    width: 290px;
    height: 40px;
    float: left;
    padding-top: 3px;
}

.domain {
  padding: 1px 3px 2px;
  background-color: #222526;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.view_description {
    text-align: justify;
    width: 275px;
    float: left;
    margin-left: 8px;
    margin-top: 5px;
    height: 55px;
    overflow: hidden;
}
