/* *************** Main style *************** */
html {
    height: 100%;
}

body {
    margin: auto;
    width: 1024px;
    height: 100%;
    background-color: #EEEEEE;
}

#header {
    top: 0px;
    background-color: #322D43;
}

#footer {
    bottom: 0;
    width: 1024px;
    background-color: #CDCDCD;
}

.inlined-left-group {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.inlined-right-group {
    display: inline-block;
    vertical-align: top;
    right: 0px;
    float: right;
    padding: 0;
    margin: 0;
}

.inlined-block {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

#header, #header .inlined-leftGroup, #header .inlined-rightGroup, #header .inlined-block {
    height: 20px;
}

#header .inlined-block {
    background-color: #F6B31E;
}

#header .menu-item-selected {
    background-color: #F86031;
}

#mainContent {
    background-color: #FFFFFF;
}

/* *************** Custom style for each content *************** */

.dashboard-group {
    display: inline-block;
    vertical-align: top;
    width: 240px;
}

#user-informations {
    display: inline-block;
    vertical-align: top;
    width: 750px;
}

#plateform-informations {
    display: inline-block;
    vertical-align: top;
    width: 240px;
}

/* *************** Custom style for tabs *************** */
.tab-container{

}

.tab-menu {

}

.tab-item {
    padding: 0 5px;
    background-color: #F6B31E;
}

.tab-content {
    padding: 5px;
}

.tab-selected {
    background-color: #F86031;
}