/* *************** Main style *************** */
html {
    height: 100%;
}

body {
    margin: auto;
    width: 1024px;
    height: 100%;
    background-color: #547DBB;
}

#header {
    top: 0px;
    background-color: #CDCDCD;
}

#footer {
    bottom:0px;
    background-color: #CDCDCD;
}

.inlinedLeftGroup {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.inlinedRightGroup {
    display: inline-block;
    vertical-align: top;
    right: 0px;
    float: right;
    padding: 0;
    margin: 0;
}

.inlinedBlock {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

#header, #header .inlinedLeftGroup, #header .inlinedRightGroup, #header .inlinedBlock {
    height: 20px;
}


#header .inlinedBlock {
    background-color: #416D99;
}

#header .menu-item-selected {
    background-color: #A8DD15;
}

#mainContent {
    background-color: #FFFFFF;
}

/* *************** Custom style for each content *************** */

.dashboard-group {
    display: inline-block;
    vertical-align: top;
    width: 240px;
}

#user-informations {
    display: inline-block;
    vertical-align: top;
    width: 750px;
}

#plateform-informations {
    display: inline-block;
    vertical-align: top;
    width: 240px;
}

/* *************** Custom style for tabs *************** */
.tab-container{

}

.tab-menu {

}

.tab-item {
    padding: 0 5px;
    background-color: #416D99;
}

.tab-content {
    padding: 5px;
}

.tab-selected {
    background-color: #A8DD15;
}