/* *************** Main style *************** */
html, body, #container {
    height: 100%;
}

body {
    margin: auto;
    width: 1024px;
    background-color: #EEEEEE;
}

/* Container is needed for a sticky footer */
body > #container {
    height: auto;
    min-height: 100%;
    background-color: #FFFFFF;
}

#header {
    top: 0px;
    background-color: #322D43;
}

#footer {
    clear: both;           /* Needed for a sticky footer */
    position: relative;    /* Needed for a sticky footer */
    z-index: 10;           /* Needed for a sticky footer */
    height: 20px;          /* Needed for a sticky footer */
    margin-top: -20px;     /* Needed for a sticky footer */
    width: 1024px;
    background-color: #CDCDCD;
}

.inlined-left-group {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.inlined-right-group {
    display: inline-block;
    vertical-align: top;
    right: 0px;
    float: right;
    padding: 0;
    margin: 0;
}

.inlined-block {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

#header, #header .inlined-leftGroup, #header .inlined-rightGroup, #header .inlined-block {
    height: 20px;
}

#header .inlined-block {
    background-color: #F6B31E;
}

#header .menu-item-selected {
    background-color: #F86031;
}

#mainContent {
    background-color: #FFFFFF;
    margin: 5px 5px;
    padding-bottom: 20px;          /* Needed for a sticky footer */
}

/* *************** Custom style for each content *************** */

#user-informations {
    display: inline-block;
    vertical-align: top;
    width: 750px;
}

#dashboard {
}

.dashboard-group {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin: auto;
}

#plateform-informations {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    border-style: solid;
    border-width: thin;
    right: 0px;
    float: right;
    padding-left: 5px;
}

/* *************** Custom style for tabs *************** */
.tab-container{

}

.tab-menu {

}

.tab-item {
    padding: 0 5px;
    background-color: #F6B31E;
}

.tab-content {
    padding: 5px;
}

.tab-selected {
    background-color: #F86031;
}